Technical Review/Techinical_Review_Console/src/main/resources/employee.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://employee.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://employee.services" targetNamespace="http://employee.services">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://employee.services">

    <xsd:complexType name="Address">
        <xsd:sequence>
            <xsd:element name="houseName" type="xsd:string"/>
            <xsd:element name="streetName" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="pincode" type="xsd:int"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Employee">
        <xsd:sequence>
            <xsd:element name="firstName" type="xsd:string"/>
            <xsd:element name="middleName" type="xsd:string"/>
            <xsd:element name="lastName" type="xsd:string"/>
            <xsd:element name="phone" type="xsd:long"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="employeeID" type="xsd:long"/>
            <xsd:element name="permanentAddress" type="tns:Address"/>
            <xsd:element name="temporaryAddress" type="tns:Address"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--    Status-->
    <xsd:complexType name="serviceStatus">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:int"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--    Operation-->
    <xsd:element name="createRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employee" type="tns:Employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element name="result" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="readRequest">
        <xsd:complexType>
            <xsd:sequence/>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="readResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="employee" type="tns:Employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="readByIdRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="id" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="readByIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element name="employee" type="tns:Employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="filterByPincodeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pincode" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="filterByPincodeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="serviceStatus" type="tns:serviceStatus"/>
                <xsd:element maxOccurs="unbounded" name="employee" type="tns:Employee"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="readByIdRequest">
    <wsdl:part element="tns:readByIdRequest" name="readByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filterByPincodeRequest">
    <wsdl:part element="tns:filterByPincodeRequest" name="filterByPincodeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readByIdResponse">
    <wsdl:part element="tns:readByIdResponse" name="readByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filterByPincodeResponse">
    <wsdl:part element="tns:filterByPincodeResponse" name="filterByPincodeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readResponse">
    <wsdl:part element="tns:readResponse" name="readResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part element="tns:createRequest" name="createRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readRequest">
    <wsdl:part element="tns:readRequest" name="readRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="employeePort">
    <wsdl:operation name="readById">
      <wsdl:input message="tns:readByIdRequest" name="readByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:readByIdResponse" name="readByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterByPincode">
      <wsdl:input message="tns:filterByPincodeRequest" name="filterByPincodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:filterByPincodeResponse" name="filterByPincodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:createRequest" name="createRequest">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input message="tns:readRequest" name="readRequest">
    </wsdl:input>
      <wsdl:output message="tns:readResponse" name="readResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="employeePortSoap11" type="tns:employeePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="readById">
      <soap:operation soapAction=""/>
      <wsdl:input name="readByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterByPincode">
      <soap:operation soapAction=""/>
      <wsdl:input name="filterByPincodeRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filterByPincodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction=""/>
      <wsdl:input name="createRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="read">
      <soap:operation soapAction=""/>
      <wsdl:input name="readRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="employeePortService">
    <wsdl:port binding="tns:employeePortSoap11" name="employeePortSoap11">
      <soap:address location="http://localhost:8082/employeerepo"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>